body,h1,h2,h3,h4,h5,h6,p,pre,ol,ul,li,form,input,textarea,dl,dt,dl
{
margin:0;
padding:0;
}
ul,ol{
list-style:none;
}
a{
text-decoration:none;
color:#434343;
}
body{
background:#fff;
font-family: "微软雅黑", Segoe, "Segoe UI", "DejaVu Sans",sans-serif;
}
/*, "Trebuchet MS", Verdana*/
*{
	color:#434343;
font-weight: 300;
}
img{
border:none;
}